<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <%= f.label "Name" %> 
    <%= f.text_field :name %> 
    <% if Recipe.exists?(@recipe.id) %>
      <br>
      <!-- show list of existing ingredients -->
      <%= f.label "Ingredients" %> 
      <% @recipe.ingredients.each do |ingredient| %>
        <%= ingredient.name%>
        <%= ingredient.amount%>
        <%= ingredient.measure%>
      <% end %>
      <!-- move to EDIT so you have access to recipe id -->
      <%= link_to 'Add Ingredient', new_recipe_ingredient_path(@recipe) %>  
      <br>
      <%= f.label "Instructions" %> 
      <%= f.text_area :instructions %>
      <br>
      <br>
    <% end %>
    <%= f.submit "Create Recipe"%>
  </div>
<% end %>
