<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <% if logged_in? && is_admin?(current_user) %>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? && is_admin?(current_user) %>
  <%= link_to 'New Recipe', new_recipe_path %>
<% end %>
<br>
<br>
<% if logged_in? && is_admin?(current_user) %>
  <%= link_to 'Admin Logout', logout_path %>
<% else %>
  <%= link_to 'Admin Login', login_path %>
<% end %>
