
<% if logged_in? && is_admin?(current_user) %>
	<%= link_to image_tag('edit.png'), edit_recipe_path(@recipe), class: "nav-link" %> 
<% end %>
<div class="intro">
	<h2 class="name">
		<%= @recipe.name %>
	</h2>

	<div class="recipe-feeds">
		<section class="yield">
			<p>Feeds: </p>
			<p><%= @recipe.yield %></p>
		</section>

		<section class="scale">
			<p>Scale: </p>
			<%= select_tag :scale, options_for_select(1..10), class: 'dropdown' %>
		</section>
	</div>
</div>

<div class="details">
	<section class="ingredients"> 
		<table>
			<tr>
				<th>Ingredient</th>
				<th colspan="2">Amount</th>
			</tr>
			<% @ingredients.each do |ingredient| %>
			<tr>
				<td><%= ingredient.name %></td>
				<td class="amount"><%= ingredient.amount %></td>
				<td><%= ingredient.measure %></td>
			</tr>
			<% end %>
		</table>
	</section>
	
	<section class="instructions">
		<%= simple_format(@recipe.instructions) %>
	</section>
</div>