<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

<%= @recipe.name %>
<!-- show list of existing ingredients -->
<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name%>
  <%= ingredient.amount%>
  <%= ingredient.measure%>
  <%= link_to 'X', edit_recipe_ingredient_path(:recipe_id => @recipe.id,
  																						 :id => ingredient.id) %>
<% end %>
<%= @recipe.instructions %>