
<% if logged_in? && is_admin?(current_user) %>
	<%= link_to 'Edit', edit_recipe_path(@recipe), class: "nav-link" %> 
<% end %>
<%= link_to 'Back', recipes_path, class: "nav-link" %>

<h2 class="name">
	<%= @recipe.name %>
</h2>

<div class="yield">
	<h3>Feeds: </h3>
	<p><%= @recipe.yield %></p>
</div>

<div class="scale">
	<%= label_tag 'Scale Recipe' %>
	<%= select_tag :scale, options_for_select(1..10) %>
</div>

<div class="details">
	<section class="ingredients"> 
		<table>
			<tr>
				<th>Ingredient</th>
				<th colspan="2">Amount</th>
			</tr>
			<% @ingredients.each do |ingredient| %>
			<tr>
				<td><%= ingredient.name %></td>
				<td class="amount"><%= ingredient.amount %></td>
				<td><%= ingredient.measure %></td>
			</tr>
			<% end %>
		</table>
	</section>
	
	<section class="instructions">
		<%= simple_format(@recipe.instructions) %>
	</section>
</div>