<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

<%= @recipe.name %>
<div id="yield">
	<h3>Feeds: </h3>
	<p>
		<%= @recipe.yield %>
	</p>
</div>
<!-- show list of existing ingredients -->
	<% @recipe.ingredients.each do |ingredient| %>
<ul class="ingredient_list">
	<li>
	  <%= ingredient.name%>
	</li>
	<li class="amount">
	  <%= ingredient.amount %>
	</li>
	<li>
	  <%= ingredient.measure%>
	</li>
</ul>
	<% end %>
<div>
	<%= @recipe.instructions %>
</div>
<%= label_tag 'Scale Recipe' %>
<%= select_tag :scale, options_for_select(1..10) %>
