<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

<%= @recipe.name %>
<p>Feeds: <%= @recipe.yield %></p>
<!-- show list of existing ingredients -->
<ul>
	<% @recipe.ingredients.each do |ingredient| %>
	<li>
	  <%= ingredient.name%>
	  <%= ingredient.amount%>
	  <%= ingredient.measure%>
	</li>
	<% end %>
</ul>
<%= @recipe.instructions %>