<!DOCTYPE html>
<html>
  <head>
    <title>Chefbot</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light');
    </style>
  </head>

  <body>
    <div class='header'></div>
    <%= javascript_tag do %>
      if (document.body.offsetWidth <= 1199) {
       document.getElementsByClassName('header')[0].insertAdjacentHTML("beforeend", "<%= j render 'shared/mobile_header' %>");
      } else {
       document.getElementsByClassName('header')[0].insertAdjacentHTML("beforeend", "<%= j render 'shared/header' %>");
      }
    <% end %>
    <%= render 'shared/menu' %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
